.mobileNav-Container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #3b3b3b;
  color: #fff;
  z-index: 10;
  height: 4rem;

  .navOptions {
    margin: 0;
    padding: 0 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 1.5rem;

    li {
      margin: 0;
      padding: 10px 0;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.1rem;

      .mobile-navIcon {
        margin: 0;
        width: 20px;
      }

      .navTitle {
        margin: 0;
        font-size: 11px;
        font-weight: bold;
        color: #eee;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .active {
    border-top: 2px solid #73f4b8;
    background-color: #3b3b3b;
    border-radius: 0rem;
  }

  .Genie {
    margin-bottom: 20px;
    background-color: rgb(52, 185, 134);
    border-top: 4px solid navajowhite;
    border-radius: 3rem 3rem 0 0;

    .Genie-navIcon {
      width: 30px !important;

      .Genie-icons {
        font-size: 33px;
      }
    }

    .Genie-navTitle {
      position: absolute;
      bottom: 3px;
    }
  }
}
