.page-container{
    padding-left:20rem ;
    padding-right:5rem ;
    background-color: #fafafa;
    
    
    .header{
        padding: 3rem 0;
        display: flex;
        justify-content: center;

    .aboutMe{
        h1{
            margin: 0;
            font-size: 4rem;
        }

        h3{
            margin: 0;
            font-size: 1.5rem;
            font-weight: normal;
            color: #888;
        }
        
        .btn-group{
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }
    .profile{
        padding: 0 1rem;
        width: 20rem;
    }

}
}