.certificate-page {
  padding: 3rem 5rem 3rem 20rem;
  background-color: #fafafa;

  .header {
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
}
