$primary: #54b689;
$dark: #000;

.connect-page {
  padding: 3rem 5rem 3rem 20rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    margin: 0.5rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
}

.contact-form {
  padding: 0 5rem 0rem 20rem;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  .head {
    font-weight: bold;
    text-align: center;
  }

  .contact-input {
    display: flex;
    gap: 10px;
    width: 100%;

    input {
      width: 100%;
      height: 2rem;
    }
  }

  .message-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    input {
      width: 100%;
      height: 10rem;
    }
  }
}

.email {
  cursor: pointer;
}

.customInput {
  position: relative;
  margin: auto;
  width: 100%;
  // max-width: 280px;
  border-radius: 3px;
  overflow: hidden;

  .label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba($dark, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
  textarea {
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    border-top: 20px solid white;
    font-family: inherit;
    padding: 0 12px 0 12px;
    // height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba($dark, 0.02);
    box-shadow: inset 0 -1px 0 rgba($dark, 0.3);
    color: $dark;
    transition: all 0.15s ease;

    &:hover {
      background: rgba($dark, 0.04);
      box-shadow: inset 0 -1px 0 rgba($dark, 0.5);
    }

    &:not(:placeholder-shown) + .label {
      color: rgba($dark, 0.5);
      transform: translate3d(0, -19px, 0) scale(0.75);
    }

    &:focus {
      background: rgba($dark, 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 $primary;
      + .label {
        color: $primary;
        transform: translate3d(0, -19px, 0) scale(0.75);
        + .focus-bg {
          transform: scaleX(1);
          transition: all 0.1s ease;
        }
      }
    }
  }
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  // max-width: 280px;
  border-radius: 3px;
  overflow: hidden;

  .label {
    position: absolute;
    top: 17px;
    left: 12px;
    font-size: 16px;
    color: rgba($dark, 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
  }

  .focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark, 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
  }
  input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 5px 12px;
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    background: rgba($dark, 0.02);
    box-shadow: inset 0 -1px 0 rgba($dark, 0.3);
    color: $dark;
    transition: all 0.15s ease;

    &:hover {
      background: rgba($dark, 0.04);
      box-shadow: inset 0 -1px 0 rgba($dark, 0.5);
    }

    &:not(:placeholder-shown) + .label {
      color: rgba($dark, 0.5);
      transform: translate3d(0, -15px, 0) scale(0.75);
    }

    &:focus {
      background: rgba($dark, 0.05);
      outline: none;
      box-shadow: inset 0 -2px 0 $primary;
      + .label {
        color: $primary;
        transform: translate3d(0, -15px, 0) scale(0.75);
        + .focus-bg {
          transform: scaleX(1);
          transition: all 0.1s ease;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .connect-page {
    padding: 1rem;

    .header {
      margin: 0;
      font-size: 2rem;
    }
  }

  .contact-form {
    padding: 1rem;
    gap: 10px;

    .contact-input {
      flex-direction: column;
    }

    .message-section {
      gap: 10px;
    }
  }
}
