.portfolio-page {
  padding: 3rem 5rem 3rem 20rem;
  background-color: #fafafa;

  .header {
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .portfolio-page {
    padding: 1rem;

    .header {
      margin: 0;
      font-size: 2rem;
    }

    .header-Para {
      font-size: 0.9rem;
    }
  }
}
