.resume-page {
  padding: 1rem 5rem 1rem 20rem;
  background-color: #fafafa;
  line-height: 150%;

  .header {
    margin: 2rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }
}

.resume-container {
  padding: 3rem 5rem 3rem 20rem;

  .btn {
    display: flex;
    // justify-content: flex-end;
    span {
      cursor: not-allowed;
    }
  }

  .resume {
    margin: 20px 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 2rem 3rem;

    .resume-top {
      margin-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .top-left {
        h1 {
          margin: 0;
          font-size: 3rem;
          font-weight: bold;
          color: #54b689;
          letter-spacing: 0.3rem;
        }

        p {
          margin: 0;
          font-size: 1.5rem;
          color: grey;
        }
      }

      .top-right {
        border-left: 1px solid #5e5d5d;

        ul {
          margin: 0;
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 0.8rem;
        }
      }
    }

    .profile {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      gap: 2rem;

      img {
        width: 150px;
      }
    }

    // experience section
    .experience {
      .company-detail {
        display: flex;
        justify-content: space-between;

        .company {
          font-size: 1.2rem;
        }
      }
    }

    // recoginations
    .recoginations {
    }

    // certifications
    .certifications {
    }

    // skills
    .skills {
      .sk-cont {
        .row {
          display: flex;
          justify-content: flex-start;
          gap: 20px;

          .topic {
            font-size: 1.1rem;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.resumeTitle {
  margin: 0;
  padding: 0.3rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #092a0b;
  background-color: #c3f0c2;
  border: none;
  border-radius: 0px;
}

.list-item {
  li {
    margin: 10px 0;
    max-width: 58rem;
  }
}

@media screen and (max-width: 768px) {
  .resume-page {
    padding: 1rem;

    .header {
      margin: 0;
      font-size: 2rem;
    }
  }

  .resume-container {
    padding: 0;
    margin: 0;

    .btn {
      margin: 1rem 0 0 1rem;
      justify-content: flex-start;
    }

    .resume {
      margin: 10px 0;
      padding: 1rem 1rem;

      .resume-top {
        margin-bottom: 1rem;

        .top-left {
          h1 {
            font-size: 1.5rem;
            letter-spacing: 0;
          }

          p {
            font-size: 1rem;
          }
        }

        .top-right {
          ul {
            padding-left: 0.5rem;
            gap: 0.4rem;
            font-size: 12px;
          }
        }
      }

      .profile {
        margin: 1rem 0;
        gap: 1rem;
        align-items: flex-start;

        img {
          width: 100px;
        }
      }

      .experience {
        .company-detail {
          .company {
            font-size: 1rem;
          }
        }
      }

      .recoginations {
      }

      .certifications {
      }

      .skills {
        .sk-cont {
          .row {
            gap: 10px;
          }

          .topic {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
