.btn{
    button{
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 15px;
        font-weight: bold;
        letter-spacing: 0.02rem;
        word-spacing: 0.1rem;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        img{
            width: 25px;
        }
    }
}

.grn-btn{
    color: #fff;
    background-color: #54B689;
    box-shadow: 0 4px 9px rgba(12,12,16,.2);

    &:hover{
        background-color: #266347;
    }
}

.drk-btn{
    color: #fff;
    background-color: #4f4f4f;

    &:hover{
        background-color: #2f2e2e;
    }
}