// Custom Button

.btn {
  button {
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.02rem;
    word-spacing: 0.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;

    img {
      width: 20px;
    }
  }
}

.grn-btn {
  color: #fff;
  background-color: #54b689;
  box-shadow: 0 4px 9px rgba(12, 12, 16, 0.2);

  &:hover {
    background-color: #266347;
  }
}

.drk-btn {
  color: #fff;
  background-color: #4f4f4f;

  &:hover {
    background-color: #2f2e2e;
  }
}

.brd-btn {
  color: #aaa;
  border: 2px solid #54b689 !important;
  background-color: #fff;
  box-shadow: 0 4px 9px rgba(12, 12, 16, 0.2);

  &:hover {
    color: #eee;
    background-color: #9dc4b2;
  }
}

// Custom Card

.card {
  max-width: 250px;
  margin: 2rem 1rem;

  img {
    width: 3rem;
    height: 3rem;
  }

  .cardTitle {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .cardBody {
    font-size: 0.9rem;
  }
}

// ExpCard and certiCard

.expCard {
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  .logo {
    width: 50px;
    padding-top: 10px;
  }

  .exp-info {
    .position {
      margin: 0;
      font-size: 1rem;
      font-weight: bold;
    }

    .company {
      margin: 0;
      font-size: 1rem;
    }

    .timePeriod {
      margin: 0;
      font-size: 1rem;
      color: #4f4f4f;
    }

    .location {
      margin: 0;
      font-size: 1rem;
      color: #4f4f4f;
    }

    .skillsContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    .grn-btn {
      margin: 20px 0;
    }
  }
}

.skill-G {
  margin: 0 0.3rem;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #54b689;
  border-radius: 50px;
  min-width: 5rem;
  padding: 0.2rem 1rem;
}

// Project Card

.projectContainer {
  margin: 0 0 1rem 0;
  .title {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
  }

  .about {
    margin-top: 0;
    font-size: 1rem;
    color: #4f4f4f;
  }
}
