.footer {
  // background-color: #fff;
  margin: 1rem 5rem 0rem 20rem;
  padding: 1rem;

  p {
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin: 0 0 4rem 0;
  }
}
