.main {
  text-align: justify;
  text-justify: inter-word;
}

#back-to-top-anchor {
  position: absolute;
}

i.fa:hover {
  color: #ef6262;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dbdada;
}

::-webkit-scrollbar-thumb {
  background: #458a6a;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a4431;
}
