.main {
  text-align: justify;
  text-justify: inter-word;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dbdada;
}

::-webkit-scrollbar-thumb {
  background: #458a6a;
}

::-webkit-scrollbar-thumb:hover {
  background: #1a4431;
}
